.myphoto{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #f11;
    position: absolute;
    top: -7%;
    left: -3%;
}
.intro1{
    float: left;
}
.bg-summer{
    position: relative;
    background:rgba(255, 255, 255, 0.7)!important;
    width: 50%;
    height: 70%;
    margin-left: 5%;
    margin-top: 14%;
}
.section3{
    background:url(../img/bg2.jpg) no-repeat;
    background-size: cover;
}
